<div class="widget subscribe">
    <h3>БУДЬ В КУРСЕ</h3>
    <p> Получай всю последнюю информацию о события, товарах и предложениях. </p>
    <form action="#" id="subscribe-form">
        <div class="form-group">
            <input type="email" class="form-control" id="subscribe-email" placeholder="Введите адрес эл. почты">
        </div>
        <input type="submit" value="Подписаться" class="btn btn-custom">
    </form>
</div>