<div class="widget testimonials">
    <h3>Отзывы</h3>

    <div class="testimonials-slider flexslider sidebarslider">
        <ul class="testimonials-list clearfix">
            <li>
                <div class="testimonial-details">
                    <header>Best Service!</header>
                    Maecenas semper aliquam massa. Praesent pharetra sem vitae nisi eleifend molestie. Aliquam molestie scelerisque ultricies. Suspendisse potenti.
                </div><!-- End .testimonial-details -->
                <figure class="clearfix">
                    <img src="images/testimonials/anna.jpg" alt="Computer Ceo">
                    <figcaption>
                        <a href="#">Anna Retallic</a>
                        <span>12.05.2013</span>
                    </figcaption>
                </figure>
            </li>
            <li>
                <div class="testimonial-details">
                    <header>Cool Style!</header>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt iure quisquam necessitatibus fugit! Nisi tempora reiciendis omnis error sapiente ipsam maiores dolorem maxime.
                </div><!-- End .testimonial-details -->
                <figure class="clearfix">
                    <img src="images/testimonials/jake.jpg" alt="Computer Ceo">
                    <figcaption>
                        <a href="#">Jake Suasoo</a>
                        <span>17.05.2013</span>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div><!-- End .testimonials-slider -->
</div><!-- End .widget -->