@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_SliderRevolution")

<div class="md-margin2x"></div><!-- Space -->

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row">

                <div class="col-md-9 col-sm-8 col-xs-12 main-content">
                    @await Html.PartialAsync("_Products")

                    <div class="sm-margin"></div><!-- Space -->

                    @await Html.PartialAsync("_Welcome")

                    <div class="xlg-margin"></div><!-- Space -->

                    @await Html.PartialAsync("_HotItems")
                </div><!-- End .col-md-9 -->

                <div class="col-md-3 col-sm-4 col-xs-12 sidebar">
                    @await Html.PartialAsync("_Subscribe")

                    @await Html.PartialAsync("_Testimonials")

                    @await Html.PartialAsync("_LatestNews")

                    @*<div class="widget banner-slider-container">
                        <div class="banner-slider flexslider">
                            <ul class="banner-slider-list clearfix">
                                <li><a href="#"><img src="images/banner1.jpg" alt="Banner 1"></a></li>
                                <li><a href="#"><img src="images/banner2.jpg" alt="Banner 2"></a></li>
                                <li><a href="#"><img src="images/banner3.jpg" alt="Banner 3"></a></li>
                            </ul>
                        </div>
                    </div>*@<!-- End .widget -->

                </div><!-- End .col-md-3 -->
            </div><!-- End .row -->

            @await Html.PartialAsync("_Manufacturers")

        </div><!-- End .col-md-12 -->
    </div><!-- End .row -->
</div><!-- End .container -->

@section Scripts {
    <script>
        $(function() {
            // Slider Revolution
            jQuery('#slider-rev').revolution({
                delay:8000,
                startwidth:1170,
                startheight:600,
                onHoverStop:"true",
                hideThumbs:250,
                navigationHAlign:"center",
                navigationVAlign:"bottom",
                navigationHOffset:0,
                navigationVOffset:20,
                soloArrowLeftHalign:"left",
                soloArrowLeftValign:"center",
                soloArrowLeftHOffset:0,
                soloArrowLeftVOffset:0,
                soloArrowRightHalign:"right",
                soloArrowRightValign:"center",
                soloArrowRightHOffset:0,
                soloArrowRightVOffset:0,
                touchenabled:"on",
                stopAtSlide:-1,
                stopAfterLoops:-1,
                dottedOverlay:"none",
                fullWidth:"on",
                spinned:"spinner5",
                shadow:0,
                hideTimerBar: "on",
                // navigationStyle:"preview4"
              });
        });
    </script>
}